/* Import font-family */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');
/* Asterisk wildcard selector to override the default function */
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
/* Body */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 0;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
/*header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    padding: 1.5rem;
}
/*logo*/
#logo {
    font-size: 2.8em;
}
/*nav*/
nav {
    display: flex;
    align-items: center;
}
/*menu*/
#menu {
    display: flex;
    font-size: 1.2em;
    letter-spacing: 5px;
    list-style: none;
}
#menu li {
    margin-left: 35px;
}
#menu a {
    text-decoration: none;
    color: inherit;
}

/* Hamburger menu */
.hamburger {
    display: none;
    font-size: 2em;
    cursor: pointer;
}
/* Main content */
main {
    background-color:gray;
    flex: 1;
    padding: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.content img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
.content h1 {
    font-size: 3rem;
}
.content h2 {
    font-size: 2rem;
    text-align: left;
}
.content p {
    padding: 1rem;
    line-height: 1.3rem;
    font-size: 1.2rem;
    text-align: left;
}
/* Footer */
footer {
    background-color: blueviolet;
    text-align: center;
    padding: 20px 0;
    color: #fff;
    border-bottom: 50px;
}
footer a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    padding: 0 3rem;
}
footer p {
    padding: 1rem 0;
}
/* Responsive menu */
@media (max-width: 750px) {
    #menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color:orange;
    }
    #menu.show {
        display: flex;
    }
    #menu li {
        margin: 15px 0;
    }
    .hamburger {
        display: block;
    }
    #logo {
        font-size: 2.2rem;
    }
}
/*reason*/
#reason {
    height: 650px;
    text-align:center
}


#first {
    padding-top: 35px;
    width: 33%;
    float: left;
    padding-left:20px ;
    }
    #last {
        padding-top: 35px;
        width: 33%;
        float: right;
        padding-right: 20px;
    }
    #middle{
        padding-top: 35px;
        width: 33%;
        margin: 0 auto;
    }
hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}
.first {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}
.last {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}
.last h2 {
    text-align: right;
}
.last p {
    text-align: right;
}
#free {
    text-align: center;
    margin: 2px 0;
    font-size: 280%;
}
#circle {
    width: 300px;
    height: 300px;
    
    border: 1px solid #3a3a3a;
    border-radius: 50%;
    margin: 0 auto;
}
/*circle-cover img*/
#circle-cover > img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}


 #scheduled div {
    color: #fff;
    background-color: #3a3a3a;
    float:right;
    text-align: center;
    width:20%;
    padding:30px 0 0 1px;
    border:2px solid #ffffff
 } 
 /*style the photo*/
#photo {
    clear: both;
    line-height: 0;
    column-count: 1;
    column-gap: 0;
}
/*photo img*/
#photo > img {
    width: 100%;
}
/*media querry*/

        
        

    
