/* Import font-family */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');
/* Asterisk wildcard selector to override the default function */
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
/* Body */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 0;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    padding: 1.5rem;
}
#logo {
    font-size: 2.8em;
}
nav {
    display: flex;
    align-items: center;
}
#menu {
    display: flex;
    font-size: 1.2em;
    letter-spacing: 5px;
    list-style: none;
}
#menu li {
    margin-left: 35px;
}
#menu a {
    text-decoration: none;
    color: inherit;
}

/* Hamburger menu */
.hamburger {
    display: none;
    font-size: 2em;
    cursor: pointer;
}
/* Main content */
main {
    background-color:orange;
    flex: 1;
    padding: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.content img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
.content h1 {
    font-size: 3rem;
}
.content h2 {
    font-size: 2rem;
    text-align: left;
}
.content p {
    padding: 1rem;
    line-height: 1.3rem;
    font-size: 1.2rem;
    text-align: left;
}
/* Footer */
footer {
    background-color: blueviolet;
    text-align: center;
    padding: 20px 0;
    color: #fff;
}
footer a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    padding: 0 3rem;
}
footer p {
    padding: 1rem 0;
}
/* Responsive menu */
@media (max-width: 750px) {
    #menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color:orange;
    }
    #menu.show {
        display: flex;
    }
    #menu li {
        margin: 15px 0;
    }
    .hamburger {
        display: block;
    }
    #logo {
        font-size: 2.2rem;
    }
}
#reason {
    height: 650px;
}


#first {
    padding-top: 35px;
    width: 33%;
    float: left;
    background-color: pink;
}
#last {
    padding-top: 35px;
    width: 33%;
    float: right;
    padding-left: 20px;
    background-color: blue;
}
#middle {
    width: 33%;
    margin: 0 auto;
    background-color: #fff;

}
hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}
.first {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}